# Virtual environment
venv/
env/

# Python bytecode
*.pyc
*.pyo
__pycache__/

# Database
db.sqlite3

# Media and static files
# media/
# static/
static/media

# Sensitive information
.env
local_settings.py

# IDE/Editor files
.idea/
.vscode/
.DS_Store

# Logs and cache
logs/
cache/

# Other miscellaneous files
*.log
*.pot
*.pid
.env